In [1]:
import pandas as pd
bank=pd.read_csv('bank-hw1.csv')
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,47,management,married,tertiary,no,-315,yes,yes,cellular,27,aug,112.0,9.0,-1.0,0,unknown,no
1,42,management,married,tertiary,no,0,no,no,cellular,26,aug,179.0,16.0,-1.0,0,unknown,no
2,25,student,single,secondary,no,154,no,no,cellular,2,sep,382.0,1.0,183.0,3,success,yes
3,49,housemaid,divorced,secondary,no,267,no,no,telephone,9,feb,23.0,5.0,-1.0,0,unknown,no
4,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250.0,1.0,-1.0,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2246,29,self-employed,single,tertiary,no,270,yes,no,cellular,15,oct,94.0,5.0,274.0,11,failure,no
2247,55,technician,divorced,secondary,no,3450,no,no,cellular,11,aug,110.0,1.0,-1.0,0,unknown,no
2248,31,management,single,tertiary,no,0,yes,no,cellular,15,apr,185.0,2.0,-1.0,0,unknown,no
2249,49,entrepreneur,married,secondary,no,2655,no,no,cellular,17,nov,63.0,1.0,-1.0,0,unknown,no
2250,37,management,married,tertiary,no,2987,yes,no,cellular,15,feb,93.0,1.0,91.0,9,failure,yes

In [2]:
bank['age'].value_counts().sort_values(ascending=False)

31     103
34      97
35      94
32      93
33      91
      ...
127      1
67       1
228      1
255      1
295      1
Name: age, Length: 67, dtype: int64

In [3]:
bank['age'] = bank['age'].mask(bank['age'] < 18,bank['age'].mean())
bank['age'] = bank['age'].mask(bank['age'] > 100,bank['age'].mean())

In [5]:
bank["job"] = bank['job'].str.replace('[^\w\s]','')

C:\Users\Checkout\AppData\Local\Temp/ipykernel_9896/1290768779.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  bank["job"] = bank['job'].str.replace('[^\w\s]','')

In [7]:
bank['job']=bank['job'].replace(dict.fromkeys(['None','unknown'], 'management'))

In [8]:
import numpy as np
bank['job']=bank['job'].replace([None,np.nan],'management')
bank['job'].describe()

count           2251
unique            11
top       management
freq             488
Name: job, dtype: object

In [9]:
bank['marital']=bank['marital'].replace(dict.fromkeys(['maried','Married','marirred','mairied'], 'married'))
bank['marital']=bank['marital'].replace(dict.fromkeys(['div','Div'], 'divorced'))
bank['marital']=bank['marital'].replace(dict.fromkeys(['Single'], 'single'))
bank['marital'].value_counts()

married     1355
single       639
divorced     250
M              4
1              3
Name: marital, dtype: int64

In [10]:
bank['marital']=bank['marital'].replace(dict.fromkeys(['M','1'], 'married'))
bank['marital'].value_counts()

married     1362
single       639
divorced     250
Name: marital, dtype: int64

In [11]:
import numpy as np
bank['day']=bank['day'].replace([None,np.nan],'20')

In [12]:
bank['day'] = bank['day'].str.replace(r'\D', '').astype(int)

C:\Users\Checkout\AppData\Local\Temp/ipykernel_9896/1297175420.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  bank['day'] = bank['day'].str.replace(r'\D', '').astype(int)

In [14]:
#now we shall remove all the ints and from our column
bank['month'] = bank['month'].str.replace(r'\d', '')#to replace all the ints in the string
bank['month'] = bank['month'].str.replace(r'[^\w\s]', '')#to replace all the punctuations
bank = bank.replace({'month' : {'august':'aug', 'August':'aug','Apr':'apr','Jul':'jul','Aug':'aug'}})

C:\Users\Checkout\AppData\Local\Temp/ipykernel_9896/2483890027.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  bank['month'] = bank['month'].str.replace(r'\d', '')#to replace all the ints in the string
C:\Users\Checkout\AppData\Local\Temp/ipykernel_9896/2483890027.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  bank['month'] = bank['month'].str.replace(r'[^\w\s]', '')#to replace all the punctuations

In [16]:
    bank['month']=bank['month'].replace([None,np.nan],'may')

In [17]:
bank = bank[bank['duration']>0]

In [18]:
bank['duration'].sort_values(ascending=True)

298        2.0
341        4.0
1058       5.0
1486       6.0
1002       7.0
         ...
802     1859.0
286     1916.0
1953    2029.0
200     2177.0
1832    3322.0
Name: duration, Length: 2242, dtype: float64

In [19]:
bank['duration']=bank['duration'].replace([None,np.nan],bank['duration'].mean())

In [20]:
category=[fea for fea in bank.columns if ((bank[fea].dtypes=='O')&(fea not in ['y']))]

In [21]:
dummy=pd.get_dummies(bank['job'])

In [22]:
bank=pd.concat([bank,dummy],axis='columns')

In [23]:
bank=bank.drop(['job','student'],axis='columns')

In [24]:
bank = bank.replace({'marital' : {'married':0, 'single':1,'divorced':0}})

In [25]:
bank = bank.replace({'education' : {'tertiary':1, 'secondary':0,'primary':0}})

In [26]:
bank = bank.replace({'default' : {'no':1,'yes':0}})

In [27]:
bank = bank.replace({'housing' : {'no':1,'yes':0}})

In [28]:
bank = bank.replace({'loan' : {'no':1,'yes':0}})

In [29]:
    bank['contact']=bank['contact'].replace('unknown','cellular')

In [30]:
bank = bank.replace({'contact' : {'cellular':1,'telephone':0}})

In [31]:
bank = bank.replace({'month' : {'jun':1,'dec':1,'sep':1,'mar':1,'aug':0,'feb':0,'may':0,'apr':0,'nov':0,'jan':0,'oct':0,'jul':0}})

In [32]:
topTen=[x for x in bank['day'].value_counts().sort_values(ascending=False).head(10).index]
for label in topTen:
    bank[label]=np.where(bank['day']==label,1,0)
bank[topTen].head(10)

   20  7  17  5  18  28  14  21  29  6
0   0  0   0  0   0   0   0   0   0  0
1   0  0   0  0   0   0   0   0   0  0
2   0  0   0  0   0   0   0   0   0  0
3   0  0   0  0   0   0   0   0   0  0
4   0  0   0  0   0   0   0   0   0  0
5   0  0   1  0   0   0   0   0   0  0
6   0  0   1  0   0   0   0   0   0  0
7   0  0   0  0   0   0   0   0   0  0
8   0  0   0  0   0   0   0   0   0  0
9   0  0   0  0   0   0   0   0   0  0

In [33]:
bank=bank.drop(['day',29],axis='columns')

In [34]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
normal=scaler.fit_transform(bank[['age']])
normal=[x[0] for x in normal]
bank['age']=normal

In [35]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
normal=scaler.fit_transform(bank[['balance']])
normal=[x[0] for x in normal]
bank['balance']=normal

In [36]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
normal=scaler.fit_transform(bank[['duration']])
normal=[x[0] for x in normal]
bank['duration']=normal

In [37]:
bank['campaign']=bank['campaign'].replace([None,np.nan],1)

In [38]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
normal=scaler.fit_transform(bank[['campaign']])
normal=[x[0] for x in normal]
bank['campaign']=normal

In [39]:
bank['pdays']=bank['pdays'].replace([None,np.nan],-1)

In [40]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
normal=scaler.fit_transform(bank[['pdays']])
normal=[x[0] for x in normal]
bank['pdays']=normal

In [41]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
normal=scaler.fit_transform(bank[['previous']])
normal=[x[0] for x in normal]
bank['previous']=normal

In [42]:
bank['poutcome']=bank['poutcome'].replace('unknown','failure')
bank['poutcome']=bank['poutcome'].replace('failure',0)
bank['poutcome']=bank['poutcome'].replace('success',1)

In [43]:
bank.to_csv('bank_cleans.csv')